*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
}

body,html{
    width: 100%;
    height: 100%;
    font-size: 100%;
    background: #EEF5F6;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;    
}

.cabecalho-menu{
    display: flex;
    gap: 28px;
}

.cabecalho-img{
    margin-left: 10%;
    padding-top: 11px;
}

.cabecalho-menu-shade{
    font-size: 28px;
    padding-top: 11px;
    margin-left: 10px;
}

.cabecalho-menu-gratis  {
    font-size: 18px;
    padding-top: 19px;
    margin-left: 60px;
    font-weight: bold;
}

.cabecalho-menu-recurso {
    font-size: 18px;
    padding-top: 19px;
    font-weight: bold;
}

.cabecalho-menu-servico {
    font-size: 18px;
    padding-top: 19px;
    font-weight: bold;
}

.cabecalho-menu-preco  {
    font-size: 18px;
    padding-top: 19px;
    font-weight: bold;
}

.cabecalho-menu-contato  {
    font-size: 18px;
    padding-top: 19px;
    font-weight: bold;
}

input[type="submit"]{
    margin-left: 450px;
    margin-top: 18px;
    background: #EEF5F6;
    border: 2px solid #229CC2;
    box-sizing: border-box;
    width: 150px;
    height: 35px;
    color: #229CC2;
    cursor: pointer;
}

.conteudo{
    text-align: center;
    margin-top: 130px;
}

h1{
    padding-top: 8px;
    font-size: 50px;
}

.descricao{
    padding-top: 20px;
    margin-bottom: 20px;
}

input[type="email"]{
    background: #FFFFFF;
    width: 220px;
    height: 40px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}

input[type="button"]{
    background: #FF0000;
    width: 180px;
    height: 40px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.rodape{
    display: flex;
    justify-content: flex-start;
    gap: 22%;
    margin-top: 135px;
    margin-left: 30px;
}

.rodape-1{
    display: flex;
}

.rodape-2{
    display: flex;
}

.rodape-3{
    display: flex;
}

.rodape-img{
    padding-right: 10px;
}

.rodape-img2{
    padding-right: 10px;
}

.rodape-img3{
    padding-right: 10px;
}